/* Space to setup configversion */
/* configversion: 2ecca20b604bc0b37d13aba5a0fabc07 */
window {
    margin: 5px;
    border: 1px solid #bc6ec5;
    background-color: #292b2e;
    font-family: Sxmo;
    font-size: 18pt;
    border-radius: 0;
}

#input {
    margin: 5px;
    border: none;
    background-color: #444155;
    color: #cbc1d5;
}

#inner-box {
    margin: 5px;
}

#outer-box {
    margin: 5px;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    color: #c5c8c6;
}


#img {
    padding-right: 25px;
}
#entry {
    padding-top: 12px;
    border: none;
}
#entry:selected {
    background-color: #292b2e;
    border-radius: 0px;
    border: 1px solid #4f97d7;
}
#entry #entry {
    background-color: #444155;
}
