* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

/* All Seperators */
#custom-seperator {
    margin-left: 0;
    margin-bottom: -0.25rem;
    margin-right: 0;
}

window#waybar {
    background-color: #2f2b33;
    border-bottom: 2px solid #5d4d7a;
    color: #b2b2b2;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
    /* optional, remove default borders */
    border: none;
    box-shadow: none;
    /* Add space at bottom to prevent overlapping the border */
    margin-bottom: 2px;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: #5d4d7a;
    border-radius: 0;
    padding: 0 5px;
}

#workspaces button {
    background-color: #2f2b33;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#custom-aide,
#language,
#mpd {
   /*padding: 0 10px;*/
    padding: 0 0.8rem;
    color: #cbc1d5;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: #5d4d7a;
    color: #cbc1d5;
}

#battery {
    background-color: #ffffff;
    color: #cbc1d5;
}

#battery.charging, #battery.plugged {
    color: #cbc1d5;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #5d4d7a;
    color: #cbc1d5;
}

#memory {
    background-color: #5d4d7a;
    color: #cbc1d5;
}

#disk {
    background-color: #5d4d7a;
    color: #cbc1d5;
}

#backlight {
    background-color: #5d4d7a;
    color: #cbc1d5;
}

#network {
    background-color: #5d4d7a;
    color: #cbc1d5;
}

#network.disconnected {
    background-color: #f2241f;
}

#pulseaudio {
    background-color: #5d4d7a;
    color: #cbc1d5;
}

#pulseaudio.muted {
    background-color: #f2241f;
    color: #cbc1d5;
}

#wireplumber {
    background-color: #5d4d7a;
    color: #cbc1d5;
}

#wireplumber.muted {
    background-color: #f2241f;
    color: #cbc1d5;
}

#custom-media {
    background-color: #5d4d7a;
    color: #cbc1d5;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #5d4d7a;
}

#custom-media.custom-vlc {
    background-color: #5d4d7a;
}

#temperature {
    background-color: #5d4d7a;
    color: #cbc1d5;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: #5d4d7a;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #5d4d7a;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#custom-aide {
  background-color: #5d4d7a;
}

#custom-aide.alert {
  background-color: #5d4d7a;
}

#custom-aide.normal {
  background-color: #5d4d7a;
}

#custom-aide.alert span,
#custom-aide.normal span {
  background-color: #5d4d7a;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #5d4d7a;
    color: #cbc1d5;
}

#keyboard-state {
    background: #5d4d7a;
    color: #cbc1d5;
}

#keyboard-state > label {
    /*padding: 0 5px;*/
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}
