! Charmtone Theme for X11 Applications
! Based on Charm Crush color palette from github.com/charmbracelet/crush

! Background Colors
*.background: #201F26
*.color0: #201F26

! Foreground Colors
*.foreground: #DFDBDD
*.color7: #DFDBDD

! Normal Colors
*.color1: #EB4268     ! Red (Sriracha)
*.color2: #12C78F     ! Green (Guac) 
*.color3: #F5EF34     ! Yellow (Mustard)
*.color4: #6B50FF     ! Blue (Charple)
*.color5: #FF60FF     ! Magenta (Dolly)
*.color6: #00A4FF     ! Cyan (Malibu)

! Bright Colors
*.color8: #858392     ! Bright Black (Squid)
*.color9: #FF577D     ! Bright Red (Coral)
*.color10: #00FFB2    ! Bright Green (Julep)
*.color11: #E8FE96    ! Bright Yellow (Zest)
*.color12: #4FBEFE    ! Bright Blue (Sardine)
*.color13: #C259FF    ! Bright Magenta (Violet)
*.color14: #68FFD6    ! Bright Cyan (Bok)
*.color15: #F1EFEF    ! Bright White (Salt)

! Cursor
*.cursorColor: #6B50FF

! Selection
*.selectForeground: #F1EFEF
*.selectBackground: #6B50FF

! Application-specific settings
xterm*background: #201F26
xterm*foreground: #DFDBDD
xterm*cursorColor: #6B50FF
xterm*color0: #201F26
xterm*color1: #EB4268
xterm*color2: #12C78F
xterm*color3: #F5EF34
xterm*color4: #6B50FF
xterm*color5: #FF60FF
xterm*color6: #00A4FF
xterm*color7: #DFDBDD
xterm*color8: #858392
xterm*color9: #FF577D
xterm*color10: #00FFB2
xterm*color11: #E8FE96
xterm*color12: #4FBEFE
xterm*color13: #C259FF
xterm*color14: #68FFD6
xterm*color15: #F1EFEF

! URxvt settings
urxvt*background: #201F26
urxvt*foreground: #DFDBDD
urxvt*cursorColor: #6B50FF
urxvt*color0: #201F26
urxvt*color1: #EB4268
urxvt*color2: #12C78F
urxvt*color3: #F5EF34
urxvt*color4: #6B50FF
urxvt*color5: #FF60FF
urxvt*color6: #00A4FF
urxvt*color7: #DFDBDD
urxvt*color8: #858392
urxvt*color9: #FF577D
urxvt*color10: #00FFB2
urxvt*color11: #E8FE96
urxvt*color12: #4FBEFE
urxvt*color13: #C259FF
urxvt*color14: #68FFD6
urxvt*color15: #F1EFEF

! Rofi settings (if used)
rofi.color-window: #201F26, #DFDBDD, #6B50FF
rofi.color-normal: #201F26, #DFDBDD, #3A3943, #6B50FF, #DFDBDD
rofi.color-active: #201F26, #68FFD6, #3A3943, #12C78F, #68FFD6
rofi.color-urgent: #201F26, #EB4268, #3A3943, #EB4268, #EB4268

!=======================================================
! SXMO Mobile Settings
!=======================================================

! --dmenu settings------------------------
dmenu.font: Sxmo:size=14
! Normal (using Charmtone colors)
dmenu.foreground: #DFDBDD
dmenu.background: #201F26
! Current active item
dmenu.selforeground: #201F26
dmenu.selbackground: #6B50FF
! Letters matching search string
dmenu.highlightforeground: #201F26
dmenu.highlightbackground: #6B50FF
! Letters matching search string while item is active
dmenu.selhighlightforeground: #201F26
dmenu.selhighlightbackground: #DFDBDD
! Selected entries with Ctrl-Enter
dmenu.outforeground: #201F26
dmenu.outbackground: #DFDBDD

! DWM and ST settings (using Charmtone colors)
dwm.foreground: #DFDBDD
dwm.background: #201F26
dwm.selforeground: #201F26
dwm.selbackground: #DFDBDD
dwm.font: Sxmo:size=10
st.font: Sxmo:size:10
svkbd.font: Sxmo:size:12

! XCalc settings
xcalc*ti.background: rgb:e/e/e
xcalc*ti.bevel.borderColor: rgb:3/3/3
xcalc*ti.bevel.borderWidth: 1
xcalc*ti.bevel.vertDistance: 4
xcalc*ti.bevel.horizDistance: 4
xcalc*ti.bevel.defaultDistance: 0
xcalc*ti.bevel.background: rgb:3/3/3
xcalc*ti.bevel.screen*background: rgb:a/d/a
xcalc*ti.bevel.screen.borderColor: rgb:a/d/a
xcalc*ti.bevel.screen.vertDistance: 1
xcalc*ti.bevel.screen.horizDistance: 1
xcalc*ti.bevel.screen*left: chainLeft
xcalc*ti.bevel.screen*right: chainRight
xcalc*ti.bevel.screen*top: chainTop
xcalc*ti.bevel.screen*bottom: chainBottom
xcalc*ti.bevel.screen*LCD.foreground: rgb:3/3/3
xcalc*ti.bevel.screen*INV.vertDistance: 0
xcalc*ti.bevel.screen*LCD.width: 666
xcalc*Command.borderColor: rgb:3/3/3
xcalc*Command.background: rgb:5/5/5
xcalc*Command.foreground: rgb:c/c/c
xcalc*Command.width: 136
xcalc*ti.button1.vertDistance: 4
xcalc*ti.button2.vertDistance: 4
xcalc*ti.button3.vertDistance: 4
xcalc*ti.button4.vertDistance: 4
xcalc*ti.button5.vertDistance: 4

! AC + CE/C
xcalc*ti.button4.background: rgb:7/7/3
xcalc*ti.button5.background: rgb:7/5/5

! number keypad
xcalc*ti.button37.background: rgb:b/b/b
xcalc*ti.button38.background: rgb:b/b/b
xcalc*ti.button39.background: rgb:b/b/b
xcalc*ti.button42.background: rgb:b/b/b
xcalc*ti.button43.background: rgb:b/b/b
xcalc*ti.button44.background: rgb:b/b/b
xcalc*ti.button47.background: rgb:b/b/b
xcalc*ti.button48.background: rgb:b/b/b
xcalc*ti.button49.background: rgb:b/b/b
xcalc*ti.button52.background: rgb:b/b/b
xcalc*ti.button37.foreground: rgb:3/3/3
xcalc*ti.button38.foreground: rgb:3/3/3
xcalc*ti.button39.foreground: rgb:3/3/3
xcalc*ti.button42.foreground: rgb:3/3/3
xcalc*ti.button43.foreground: rgb:3/3/3
xcalc*ti.button44.foreground: rgb:3/3/3
xcalc*ti.button47.foreground: rgb:3/3/3
xcalc*ti.button48.foreground: rgb:3/3/3
xcalc*ti.button49.foreground: rgb:3/3/3
xcalc*ti.button52.foreground: rgb:3/3/3

! memory slots
xcalc*ti.button27.background: rgb:5/6/5
xcalc*ti.button28.background: rgb:5/6/5
xcalc*ti.button29.background: rgb:5/6/5
xcalc*ti.button32.background: rgb:5/6/5
xcalc*ti.button33.background: rgb:5/6/5
xcalc*ti.button34.background: rgb:5/6/5
xcalc*ti.button36.background: rgb:6/7/6
xcalc*ti.button41.background: rgb:6/7/6
xcalc*ti.button27.foreground: rgb:e/e/e
xcalc*ti.button28.foreground: rgb:e/e/e
xcalc*ti.button29.foreground: rgb:e/e/e
xcalc*ti.button32.foreground: rgb:e/e/e
xcalc*ti.button33.foreground: rgb:e/e/e
xcalc*ti.button34.foreground: rgb:e/e/e
xcalc*ti.button36.foreground: rgb:e/e/e
xcalc*ti.button41.foreground: rgb:e/e/e

! operator buttons
xcalc*ti.button35.background: rgb:5/5/6
xcalc*ti.button40.background: rgb:5/5/6
xcalc*ti.button45.background: rgb:5/5/6
xcalc*ti.button50.background: rgb:5/5/6
xcalc*ti.button55.background: rgb:5/5/6
xcalc*ti.button35.foreground: rgb:c/c/c
xcalc*ti.button40.foreground: rgb:c/c/c
xcalc*ti.button45.foreground: rgb:c/c/c
xcalc*ti.button50.foreground: rgb:c/c/c
xcalc*ti.button55.foreground: rgb:c/c/c

xcalc*ti.button3.label: sqrt
xcalc*ti.button21.label: \434
xcalc*ti.button35.label: \367

! Font rendering settings
Xft.dpi: 192
Xft.antialias: true
Xft.rgba: rgb
Xft.hinting: true
Xft.hintstyle: hintslight